<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TYTag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFEB6A791B5EB96300A5655C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFEB6A921B5EB96300A5655C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFEB6A9D1B5EB96300A5655C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
